<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byzoro.mapper.CityMapper">
	<resultMap id="CityResultMap" type="com.byzoro.entity.City">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="parent_id" property="parentId" />
		<result column="type" property="type" />
		<result column="code" property="code" />
	</resultMap>
  
	<!-- 
		feature:查询条件 
	-->
	<sql id="whereCondition">
		<if test="query != null" >
			<trim  suffixOverrides="," >
    			<if test="query.id != null" >
    				/*  */
    				AND c.id =  #{query.id}
    			</if>
    			<if test="query.name != null and query.name != ''" >
    				/*  */
    				AND c.name =  #{query.name}
    			</if>
    			<if test="query.parentId != null" >
    				/*  */
    				AND c.parent_id =  #{query.parentId}
    			</if>
    			<if test="query.type != null" >
    				/*  */
    				AND c.type =  #{query.type}
    			</if>
    			<if test="query.code != null" >
    				/*  */
    				AND c.code =  #{query.code}
    			</if>
			</trim>
    	</if>
	</sql>
  
	
	<!--
		feature：插入对象
	-->
	<insert id="insert" parameterType="Object">
        INSERT INTO city		/* 城市表 */
		(
			 id                                   /*  */
			,name                                 /*  */
			,parent_id                            /*  */
			,type                                 /*  */
			,code                                 /*  */
		)VALUES(
			 #{id}                                   /*  */
			,#{name}                                 /*  */
			,#{parentId}                             /*  */
			,#{type}                                 /*  */
			,#{code}                                 /*  */
		)
	</insert>
	
	
	<!--
		feature:根据Id更新对象
	-->
	<update id="update" parameterType="Object">
		UPDATE city		/* 城市表 */
    		<trim   prefix="SET" suffixOverrides="," >
    			<if test="name != null">
					/*  */
    				name = #{name},
				</if>
    			<if test="parentId != null">
					/*  */
    				parent_id = #{parentId},
				</if>
    			<if test="type != null">
					/*  */
    				type = #{type},
				</if>
    			<if test="code != null">
					/*  */
    				code = #{code},
				</if>
    		</trim>
		WHERE id = #{id}
	</update>
	
	<!--
		feature:通过Id删除一个对象
	-->
	<delete id="delete" parameterType="Object">
        DELETE FROM city		/* 城市表 */
        WHERE id = #{id}
	</delete>
	
	<!--
		feature:通过Id查询一个对象
	-->
	<select id="queryById" parameterType="Object" resultMap="CityResultMap">
		SELECT
			 c.id                                 /*  */
			,c.name                               /*  */
			,c.parent_id                          /*  */
			,c.type                               /*  */
			,c.code                               /*  */
    	FROM
    		city AS c		/* 城市表 */
		WHERE 1=1
		AND id = #{id}
	</select>
	
	<!--
		feature:通过对象属性查询一个对象
	-->
	<select id="queryOneByAttr" parameterType="Object" resultMap="CityResultMap">
		SELECT
			 c.id                                 /*  */
			,c.name                               /*  */
			,c.parent_id                          /*  */
			,c.type                               /*  */
			,c.code                               /*  */
    	FROM
			city AS c		/* 城市表 */
		WHERE 1=1
		<include refid="whereCondition"/>
		LIMIT 1
	</select>

	<!-- 
		feature:查询总条数 
	-->
	<select id="count" parameterType="Object" resultType="java.lang.Integer">
		SELECT
			COUNT(*) 
		FROM city AS c		/* 城市表 */
		WHERE 1=1
		<include refid="whereCondition"/>
	</select>
	
	<!-- 
		feature:通过对象属性查询对象集合
	-->
	<select id="queryAllByAttr" parameterType="Object" resultMap="CityResultMap">
        SELECT
			 c.id                                 /*  */
			,c.name                               /*  */
			,c.parent_id                          /*  */
			,c.type                               /*  */
			,c.code                               /*  */
		FROM
			city AS c		/* 城市表 */
        WHERE 1=1
		<include refid="whereCondition"/>
	</select>

	<!--
		feature:分页查询
	-->
	<select id="queryByPage" parameterType="Object" resultMap="CityResultMap">
        SELECT
			 c.id                                 /*  */
			,c.name                               /*  */
			,c.parent_id                          /*  */
			,c.type                               /*  */
			,c.code                               /*  */
		FROM
			city AS c		/* 城市表 */
        WHERE 1=1
		<include refid="whereCondition"/>
        LIMIT #{begin},#{pageSize}
	</select>

	<!--通过parentId查询信息-->
	<select id="queryByParentId" parameterType="Integer" resultMap="CityResultMap">
        SELECT
			 c.id                                 /*  */
			,c.name                               /*  */
			,c.parent_id                          /*  */
			,c.type                               /*  */
			,c.code                               /*  */
		FROM
			city AS c		/* 城市表 */
        WHERE c.parent_id =  #{parentId}
	</select>

	<!--
    feature:通过Id查询一个对象
-->
	<select id="queryByName" parameterType="Object" resultMap="CityResultMap">
		SELECT
			 c.id                                 /*  */
			,c.name                               /*  */
			,c.parent_id                          /*  */
			,c.type                               /*  */
			,c.code                               /*  */
    	FROM
    		city AS c		/* 城市表 */
		WHERE 1=1
		AND c.name = #{name}
	</select>

	<!--根据地址和parentId查询字典编码-->
	<select id="queryByNameAndParentId" parameterType="Object" resultMap="CityResultMap">
		SELECT
			 c.id
			,c.name
			,c.parent_id
			,c.type
			,c.code
    	FROM
    		city c where c.name=#{name} and c.parent_id=#{code}

	</select>


</mapper>