<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byzoro.mapper.PolicyBlackListMapper">
  <resultMap id="BaseResultMap" type="com.byzoro.entity.PolicyBlackList">
    <id column="policy_black_list_id" jdbcType="BIGINT" property="id" />
    <result column="policy_black_list_commandid" jdbcType="BIGINT" property="commandid" />
    <result column="policy_black_list_idc_id" jdbcType="VARCHAR" property="idcId" />
    <result column="policy_black_list_operationtype" jdbcType="BIT" property="operationtype" />
    <result column="policy_black_list_type" jdbcType="BIT" property="type" />
    <result column="policy_black_list_contents" jdbcType="VARCHAR" property="contents" />
    <result column="policy_black_list_level" jdbcType="VARCHAR" property="level" />
    <result column="policy_black_list_timestamp" jdbcType="INTEGER" property="timestamp" />
    <result column="policy_black_list_source" jdbcType="BIT" property="source" />
    <result column="policy_black_list_owner" jdbcType="VARCHAR" property="owner" />
    <result column="policy_black_list_status" jdbcType="BIT" property="status" />
    <result column="policy_black_list_house_id" jdbcType="VARCHAR" property="houseId" />
  </resultMap>
  <sql id="Base_Column_List">
    policy_black_list.id as policy_black_list_id, policy_black_list.commandid as policy_black_list_commandid, 
    policy_black_list.idc_id as policy_black_list_idc_id, policy_black_list.operationtype as policy_black_list_operationtype, 
    policy_black_list.`type` as `policy_black_list_type`, policy_black_list.contents as policy_black_list_contents, 
    policy_black_list.`level` as `policy_black_list_level`, policy_black_list.`timestamp` as `policy_black_list_timestamp`, 
    policy_black_list.`source` as `policy_black_list_source`, policy_black_list.`owner` as `policy_black_list_owner`, 
    policy_black_list.`status` as `policy_black_list_status`, policy_black_list.house_id as policy_black_list_house_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from policy_black_list policy_black_list
    where policy_black_list.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from policy_black_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.byzoro.entity.PolicyBlackList" useGeneratedKeys="true">
    insert into policy_black_list (commandid, idc_id, operationtype, 
      `type`, contents, `level`, 
      `timestamp`, `source`, `owner`, 
      `status`, house_id)
    values (#{commandid,jdbcType=BIGINT}, #{idcId,jdbcType=VARCHAR}, #{operationtype,jdbcType=BIT}, 
      #{type,jdbcType=BIT}, #{contents,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=INTEGER}, #{source,jdbcType=BIT}, #{owner,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{houseId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.byzoro.entity.PolicyBlackList" useGeneratedKeys="true">
    insert into policy_black_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commandid != null">
        commandid,
      </if>
      <if test="idcId != null">
        idc_id,
      </if>
      <if test="operationtype != null">
        operationtype,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="contents != null">
        contents,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="timestamp != null">
        `timestamp`,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="owner != null">
        `owner`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commandid != null">
        #{commandid,jdbcType=BIGINT},
      </if>
      <if test="idcId != null">
        #{idcId,jdbcType=VARCHAR},
      </if>
      <if test="operationtype != null">
        #{operationtype,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="contents != null">
        #{contents,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        #{source,jdbcType=BIT},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.byzoro.entity.PolicyBlackList">
    update policy_black_list
    <set>
      <if test="commandid != null">
        commandid = #{commandid,jdbcType=BIGINT},
      </if>
      <if test="idcId != null">
        idc_id = #{idcId,jdbcType=VARCHAR},
      </if>
      <if test="operationtype != null">
        operationtype = #{operationtype,jdbcType=BIT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=BIT},
      </if>
      <if test="contents != null">
        contents = #{contents,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        `timestamp` = #{timestamp,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=BIT},
      </if>
      <if test="owner != null">
        `owner` = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.byzoro.entity.PolicyBlackList">
    update policy_black_list
    set commandid = #{commandid,jdbcType=BIGINT},
      idc_id = #{idcId,jdbcType=VARCHAR},
      operationtype = #{operationtype,jdbcType=BIT},
      `type` = #{type,jdbcType=BIT},
      contents = #{contents,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=VARCHAR},
      `timestamp` = #{timestamp,jdbcType=INTEGER},
      `source` = #{source,jdbcType=BIT},
      `owner` = #{owner,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BIT},
      house_id = #{houseId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>